In [14]:
import pandas as pd

census_data="PopulationEstimatesCO.csv"
census_data_df=pd.read_csv(census_data, encoding="ISO-8859-1")
census_data_df.head()

,State,Area_Name,Rural-urban_Continuum Code_2003,Rural-urban_Continuum Code_2013,Urban_Influence_Code_2003,Urban_Influence_Code_2013,Economic_typology_2015,CENSUS_2010_POP,ESTIMATES_BASE_2010,POP_ESTIMATE_2010,...,GQ_ESTIMATES_BASE_2010,GQ_ESTIMATES_2010,GQ_ESTIMATES_2011,GQ_ESTIMATES_2012,GQ_ESTIMATES_2013,GQ_ESTIMATES_2014,GQ_ESTIMATES_2015,GQ_ESTIMATES_2016,GQ_ESTIMATES_2017,GQ_ESTIMATES_2018
0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105","309,326,085",...,"7,999,000","8,034,794","8,056,903","8,075,703","8,061,697","8,097,666","8,102,956","8,084,094","8,086,688","8,091,609"
1,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138","4,785,448",...,"116,185","116,250","115,403","115,929","117,240","119,454","120,413","119,229","117,456","117,443"
2,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,574","54,754",...,455,455,455,455,455,455,455,455,455,455
3,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,264","183,111",...,"2,307","2,307","2,263","2,241","2,297","2,332","2,337","2,275","2,193","2,190"
4,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,457","27,330",...,"3,193","3,193","3,379","3,389","3,387","3,351","3,196","2,977","2,818","2,820"

In [18]:
census_data_df.columns= ["State", "County", "Rural/Urban Continuum Code 2003", "Rural/Urban Continuum Code 2013", "Urban Influence Code 2003", "Urban Influence Code 2013",
                        "Economic Typology 2015", "Census Pop 2010", "Estimates Base 2010", "Population Estimate 2010",
                        "Population Estimate 2011", "Population Estimate 2012", "Population Estimate 2013", "Population Estimate 2014",
                        "Population Estimate 2015", "Population Estimate 2016", "Population Estimate 2017", "Population Estimate 2018",
                        "Net Population Change 2010", "Net Population Change 2011", "Net Population Change 2012", "Net Population Change 2013", "Net Population Change 2014", "Net Population Change 2015",
                        "Net Population Change 2016", "Net Population Change 2017", "Net Population Change 2018", "Natural Increase 2010",
                        "Natural Increase 2011", "Natural Increase 2012", "Natural Increase 2013", "Natural Increase 2014", "Natural Increase 2015",
                        "Natural Increase 2016", "Natural Increase 2017", "Natural Increase 2018", "International Migration 2010", 
                        "International Migration 2011", "International Migration 2012", "International Migration 2013", "International Migration 2014",
                        "International Migration 2015", "International Migration 2016", "International Migration 2017", "International Migration 2018",
                        "Domestic Migration 2010", "Domestic Migration 2011", "Domestic Migration 2012", "Domestic Migration 2013", "Domestic Migration 2014",
                         "Domestic Migration 2015", "Domestic Migration 2016", "Domestic Migration 2017", "Domestic Migration 2018", "Net Migration 2010", "Net Migration 2011","Net Migration 2012","Net Migration 2013", "Net Migration 2014",
                         "Net Migration 2015", "Net Migration 2016", "Net Migration 2017", "Net Migration 2018", "Residual 2010", "Residual 2011", "Residual 2012",
                         "Residual 2013", "Residual 2014", "Residual 2015", "Residual 2016", "Residual 2017", "Residual 2018", "GQ Estimate Base 2010", 
                         "GQ Estimates 2010", "GQ Estimates 2011", "GQ Estimates 2012", "GQ Estimates 2013", "GQ Estimates 2014", "GQ Estimates 2015",
                         "GQ Estimates 2016", "GQ Estimates 2017", "GQ Estimates 2018"]

In [19]:
census_data_df.head()

,State,County,Rural/Urban Continuum Code 2003,Rural/Urban Continuum Code 2013,Urban Influence Code 2003,Urban Influence Code 2013,Economic Typology 2015,Census Pop 2010,Estimates Base 2010,Population Estimate 2010,...,GQ Estimate Base 2010,GQ Estimates 2010,GQ Estimates 2011,GQ Estimates 2012,GQ Estimates 2013,GQ Estimates 2014,GQ Estimates 2015,GQ Estimates 2016,GQ Estimates 2017,GQ Estimates 2018
0,US,United States,NaN,NaN,NaN,NaN,NaN,"308,745,538","308,758,105","309,326,085",...,"7,999,000","8,034,794","8,056,903","8,075,703","8,061,697","8,097,666","8,102,956","8,084,094","8,086,688","8,091,609"
1,AL,Alabama,NaN,NaN,NaN,NaN,NaN,"4,779,736","4,780,138","4,785,448",...,"116,185","116,250","115,403","115,929","117,240","119,454","120,413","119,229","117,456","117,443"
2,AL,Autauga County,2.0,2.0,2.0,2.0,0.0,"54,571","54,574","54,754",...,455,455,455,455,455,455,455,455,455,455
3,AL,Baldwin County,4.0,3.0,5.0,2.0,5.0,"182,265","182,264","183,111",...,"2,307","2,307","2,263","2,241","2,297","2,332","2,337","2,275","2,193","2,190"
4,AL,Barbour County,6.0,6.0,6.0,6.0,3.0,"27,457","27,457","27,330",...,"3,193","3,193","3,379","3,389","3,387","3,351","3,196","2,977","2,818","2,820"

In [25]:
grouped_CO_data = census_data_df.loc[census_data_df["State"] == "CO", :]
grouped_CO_data

,State,County,Rural/Urban Continuum Code 2003,Rural/Urban Continuum Code 2013,Urban Influence Code 2003,Urban Influence Code 2013,Economic Typology 2015,Census Pop 2010,Estimates Base 2010,Population Estimate 2010,...,GQ Estimate Base 2010,GQ Estimates 2010,GQ Estimates 2011,GQ Estimates 2012,GQ Estimates 2013,GQ Estimates 2014,GQ Estimates 2015,GQ Estimates 2016,GQ Estimates 2017,GQ Estimates 2018
250,CO,Colorado,NaN,NaN,NaN,NaN,NaN,"5,029,196","5,029,316","5,048,281",...,"116,006","116,965","118,131","116,723","117,366","117,935","119,189","119,580","121,321","121,148"
251,CO,Adams County,1.0,1.0,1.0,1.0,0.0,"441,603","441,698","443,698",...,"4,027","4,032","4,028","4,036","4,042","4,105","4,101","4,268","4,468","4,461"
252,CO,Alamosa County,7.0,7.0,11.0,11.0,4.0,"15,445","15,440","15,932",...,740,"1,157","1,157","1,156","1,156","1,275","1,276","1,275","1,275","1,272"
253,CO,Arapahoe County,1.0,1.0,1.0,1.0,0.0,"572,003","572,130","574,762",...,"5,025","5,024","4,923","4,810","4,645","4,617","4,427","4,303","4,308","4,303"
254,CO,Archuleta County,7.0,7.0,10.0,10.0,5.0,"12,084","12,084","12,046",...,129,129,129,129,129,129,129,129,129,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,CO,Summit County,7.0,5.0,8.0,8.0,5.0,"27,994","27,994","28,077",...,273,273,273,273,273,273,273,273,273,273
311,CO,Teller County,2.0,2.0,2.0,2.0,5.0,"23,350","23,359","23,469",...,132,132,132,132,132,132,132,132,132,132
312,CO,Washington County,9.0,9.0,10.0,10.0,1.0,"4,814","4,812","4,821",...,184,184,184,184,184,184,184,184,184,184
313,CO,Weld County,3.0,2.0,2.0,2.0,0.0,"252,825","252,847","254,198",...,"5,895","5,856","5,837","5,780","5,774","4,707","4,952","4,946","4,949","4,949"
314,CO,Yuma County,7.0,7.0,11.0,11.0,1.0,"10,043","10,043","10,049",...,196,196,196,196,196,193,193,197,197,197

In [48]:
county_netmigration= pd.DataFrame(grouped_CO_data[["County","Net Migration 2010", "Net Migration 2011", "Net Migration 2012",
                                                         "Net Migration 2013", "Net Migration 2014", "Net Migration 2015",
                                                         "Net Migration 2016", "Net Migration 2017", "Net Migration 2018"]])
county_netmigration.tail()

,County,Net Migration 2010,Net Migration 2011,Net Migration 2012,Net Migration 2013,Net Migration 2014,Net Migration 2015,Net Migration 2016,Net Migration 2017,Net Migration 2018
310,Summit County,20,-289,9,231,381,578,322,84,-210
311,Teller County,82,-196,68,-125,62,-65,639,569,437
312,Washington County,3,-48,-53,50,-7,57,61,84,-31
313,Weld County,726,"2,246","2,894","3,748","3,529","6,544","7,333","7,754","6,406"
314,Yuma County,-20,47,-76,-15,-15,-177,-21,-96,-47

In [82]:
#use an iloc to assign an index to a the row. THis makes a list. then get rid of the first element in the list.then take the mean 
#of that list. then add that mean to the new column "average net migration"
def mean(array):
    return sum(array) / len(array)

In [110]:
test_df= county_netmigration.iloc[0, 1:10]
print(test_df)
test_df[0]

Net Migration 2011    38,925
Net Migration 2012    39,308
Net Migration 2013    44,903
Net Migration 2014    48,173
Net Migration 2015    70,001
Net Migration 2016    58,684
Net Migration 2017    46,090
Net Migration 2018    51,500
Name: Colorado, dtype: object

'38,925'

In [92]:
totalnetmigration=[]
for item in range(len(test_df)):
    averagenetmigration+=item

print(totalnetmigration)

TypeError: 'int' object is not iterable

8

In [108]:
test_list=list(test_df)

In [ ]:
for item in county_list
    county_list.head[]
    
    
county_netmigration["Average Net Migration"]=
county_netmigration

In [33]:
plt.title("Colorado Average Net Migration from 2010-2018")
plt.xlabel("County")
plt.ylabel("Population")

plt.xlim(-0.75, len(gyms)-.25)
plt.ylim(0, max(members) + 5)

plt.bar(x_axis, , facecolor="blue", alpha=0.75, align="center")
plt.xticks(tick_locations, gyms)
plt.show()

SyntaxError: invalid syntax (<ipython-input-33-de0d738b2c59>, line 8)