In [2]:
%matplotlib inline
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
#import csv file
sales_county = "Sale_Counts_County.csv"

In [140]:
#read csv file
sales_county_pd = pd.read_csv(sales_county)

#fill in missing values with 0
sales_county_pd = sales_county_pd.fillna(0)


sales_county_pd.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
0,3101,Los Angeles County,California,1,4181.0,4950.0,5372.0,5526.0,6246.0,5913.0,...,5856.0,5750.0,4579.0,4592.0,6099.0,6851.0,7590.0,7041.0,7412.0,7867.0
1,139,Cook County,Illinois,2,5053.0,5499.0,5506.0,6069.0,6695.0,6248.0,...,6220.0,6275.0,4562.0,4497.0,5859.0,7006.0,7981.0,7984.0,8570.0,9685.0
2,1090,Harris County,Texas,3,0.0,0.0,0.0,0.0,0.0,0.0,...,5390.0,5754.0,3828.0,3926.0,5123.0,5662.0,5352.0,4535.0,4976.0,3400.0
3,2402,Maricopa County,Arizona,4,4408.0,5113.0,5614.0,5660.0,5905.0,5533.0,...,9351.0,9226.0,8310.0,9259.0,11883.0,12652.0,13698.0,12432.0,12088.0,11576.0
4,2841,San Diego County,California,5,2007.0,2629.0,2904.0,2780.0,3135.0,2850.0,...,2674.0,2597.0,2096.0,2423.0,3045.0,3453.0,3742.0,3387.0,3716.0,0.0

In [141]:
co_county_pd = sales_county_pd.loc[sales_county_pd ['StateName'] == 'Colorado',:]
co_county_pd
co_county_df = pd.DataFrame(co_county_pd)
co_county_df.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
93,1689,El Paso County,Colorado,94,808.0,838.0,798.0,946.0,992.0,752.0,...,1182.0,1085.0,1052.0,1028.0,1222.0,1469.0,1627.0,1655.0,1764.0,1442.0
100,989,Denver County,Colorado,101,991.0,1091.0,1277.0,1447.0,1494.0,1178.0,...,950.0,955.0,801.0,893.0,1143.0,1239.0,1416.0,1356.0,1490.0,1126.0
103,2127,Arapahoe County,Colorado,104,839.0,962.0,970.0,1024.0,1119.0,988.0,...,920.0,839.0,656.0,750.0,973.0,1117.0,1251.0,1337.0,1396.0,0.0
112,2734,Jefferson County,Colorado,113,644.0,706.0,792.0,726.0,895.0,730.0,...,765.0,815.0,698.0,705.0,872.0,985.0,1135.0,1083.0,1202.0,998.0
140,353,Adams County,Colorado,141,663.0,675.0,726.0,829.0,787.0,825.0,...,591.0,609.0,524.0,643.0,767.0,747.0,868.0,889.0,932.0,845.0

In [143]:
#sum each month to get total for year 
y_2008 = co_county_pd.loc[:, "2008-03":"2008-12"].sum(axis=1)
y_2009 = co_county_pd.loc[:, "2009-01":"2009-12"].sum(axis=1)
y_2010 = co_county_pd.loc[:, "2010-01":"2010-12"].sum(axis=1)
y_2011 = co_county_pd.loc[:, "2011-01":"2011-12"].sum(axis=1)
y_2012 = co_county_pd.loc[:, "2012-01":"2012-12"].sum(axis=1)
y_2013 = co_county_pd.loc[:, "2013-01":"2013-12"].sum(axis=1)
y_2014 = co_county_pd.loc[:, "2014-01":"2014-12"].sum(axis=1)
y_2015 = co_county_pd.loc[:, "2015-01":"2015-12"].sum(axis=1)
y_2016 = co_county_pd.loc[:, "2016-01":"2016-12"].sum(axis=1)
y_2017 = co_county_pd.loc[:, "2017-01":"2017-12"].sum(axis=1)
y_2018 = co_county_pd.loc[:, "2018-01":"2018-12"].sum(axis=1)

#add new columns with year totals to df
co_countu_df["2008"] = y_2008
co_county_df["2009"] = y_2009
co_county_df["2010"] = y_2010
co_county_df["2011"] = y_2011
co_county_df["2012"] = y_2012
co_county_df["2013"] = y_2013
co_county_df["2014"] = y_2014
co_county_df["2015"] = y_2015
co_county_df["2016"] = y_2016
co_county_df["2017"] = y_2017
co_county_df["2018"] = y_2018

#print df with new total columns
co_county_df.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
93,1689,El Paso County,Colorado,94,808.0,838.0,798.0,946.0,992.0,752.0,...,9296.0,8612.0,8452.0,9051.0,10955.0,11212.0,14134.0,16577.0,17789.0,17036.0
100,989,Denver County,Colorado,101,991.0,1091.0,1277.0,1447.0,1494.0,1178.0,...,11324.0,9438.0,9926.0,11766.0,13804.0,14210.0,14817.0,14626.0,14830.0,14524.0
103,2127,Arapahoe County,Colorado,104,839.0,962.0,970.0,1024.0,1119.0,988.0,...,8689.0,8272.0,8308.0,10058.0,12081.0,13000.0,13952.0,13577.0,13534.0,12127.0
112,2734,Jefferson County,Colorado,113,644.0,706.0,792.0,726.0,895.0,730.0,...,7037.0,6981.0,7068.0,9387.0,11104.0,11339.0,11898.0,11433.0,11345.0,11174.0
140,353,Adams County,Colorado,141,663.0,675.0,726.0,829.0,787.0,825.0,...,6875.0,5775.0,5676.0,6578.0,8116.0,8669.0,9546.0,8535.0,8903.0,8423.0

In [144]:
#create new DF with only region name and year totals
region_by_year = co_county_df[['RegionName', "2008", "2009", "2010", "2011", "2012", "2013", "2014", "2015", "2016", "2017", "2018"]]
co_county_y = pd.DataFrame(region_by_year).reset_index(drop=True)
co_county_y.head()

,RegionName,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,El Paso County,7659.0,9296.0,8612.0,8452.0,9051.0,10955.0,11212.0,14134.0,16577.0,17789.0,17036.0
1,Denver County,11993.0,11324.0,9438.0,9926.0,11766.0,13804.0,14210.0,14817.0,14626.0,14830.0,14524.0
2,Arapahoe County,9242.0,8689.0,8272.0,8308.0,10058.0,12081.0,13000.0,13952.0,13577.0,13534.0,12127.0
3,Jefferson County,6906.0,7037.0,6981.0,7068.0,9387.0,11104.0,11339.0,11898.0,11433.0,11345.0,11174.0
4,Adams County,7350.0,6875.0,5775.0,5676.0,6578.0,8116.0,8669.0,9546.0,8535.0,8903.0,8423.0